{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div>
        {{ ticker_symb.name }}
        <br>
        {{ ticker_symb.price | usd }}
        <br>
        {{ ticker_symb.symbol }}
    </div>
    <br>
    <div>
        <form action="/buy" method="get">
            <button class="btn btn-success" type="submit">Click to buy</button>
        </form>
    </div>
    <br>
    <div>
        <form action="/sell" method="get">
            <button class="btn btn-success" type="submit">Click to sell</button>
        </form>
    </div>
{% endblock %}