{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
                <option disabled selected value="">Select Cryptocurrency</option>
                {% for user_stock in user_stocks %}
                    <option value="{{ user_stock.ticker_symbol }}">{{ user_stock.ticker_symbol }} - Currently holding: {{ user_stock.shares | round(5)}}</option> <!-- user_stock.ticker_symbol and user_stock["ticker_symbol"] is the same in jinja syntax -->
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="# of shares" type="number" step="0.001" min="0">
        </div>
        <button class="btn btn-success" type="submit">Sell</button>
        <div class="text-danger">
            {{ error_message_sell }}
        </div>
    </form>
    
{% endblock %}